*{
    padding: 0;
    margin: 0;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}
.hero-image-box {
    position: relative;
    height: 600px; 
}
.img-fluid {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 450px;
    z-index: 2;
}
.squares {
    position: absolute;
    top: 70px;
    left: 70px;
    height: 500px;
    width: 450px;
    z-index: 1;
}
/* Mobile ke liye (Default: Image choti rahegi) */

.hero-card {
        border: none;
        background: transparent;
        padding-top: 50px;
}
.hero-title {
        font-size: 3.5rem;
        font-weight: 800;
        color: #1a1a1a;
        line-height: 1.2;
}
.hero-subtitle {
        color: #555;
        font-size: 1.2rem;
        margin-top: 20px;
}
.hero-title{
  font-size: clamp(2rem, 5vw, 4rem);
}
.hero-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.hero-btn a:nth-child(1){
    width: 300px;
   
}

@media (min-width: 768px) {
    .hero-card{
        margin-top: -250px;
    }
    .hero-btn{
        flex-direction: row;
        width: 500px;
        
    }
}

/* salons */
.salon-card{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-radius: 12px;
}