{% extends "main.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <!-- Greeting Section -->
    <!-- First page -->
    <h1 class="ms-md-5 ms-3 mt-3"><b>Hello</b> {{user.name}}!</h1>

    <!-- Main Row -->

    <div class="row align-items-center">

        <!-- Left Side: Image Section (col-md-5) -->
        <!-- only for Mobile -->
        <div class="d-block d-md-none d-flex justify-content-center phone-container">
            <div class="phone-wrapper">
                <img src="{% static 'images/assets/image.png' %}" alt="Model" class="img-fluid model-img" />

                <img src="{% static 'images/assets/squares.png' %}" alt="Design" class="squares-img" />
            </div>
        </div>
        <!-- Only laptop tab -->
        <div class="d-none d-md-block col-5 col-md-5 justify-content-start hero-image-box">

            <img src="{% static 'images/assets/image.png' %}" alt="Model" class="img-fluid png-pic" />
            <img src="{% static 'images/assets/squares.png' %}" alt="Design" class="squares bg-pic" />

        </div>

        <!-- Right Side: Content Card (col-md-6) -->
        <div class="col-12 col-md-7">
            <div class="hero-card px-3">
                <h1 class="hero-title fw-bold">
                    Transform Your Salon <span style="color: #ffc107;">Digitally.</span>
                </h1>
                <p class="hero-subtitle lead mt-3 fw-semibold">
                    The ultimate platform for salon owners to launch their "Digital Dukan"
                    and for customers to join the smart online queue.
                </p>
                <div class="mt-4 hero-btn ">
                    <a href="#" class="btn btn-warning btn-lg  me-3 shadow-sm">Register Shop</a>
                    <a href="#" class="btn btn-outline-dark btn-lg px-4">Learn More</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Secound page -->

    <!-- Sallon_views -->

    <div class="salons">
        {% for i in salons %}
        <div class="salon-card">
            <h3>{{ i.salon_name }}</h3>
            <p>{{ i.owner_name }}</p>
            <p>{{ i.address }}</p>
            <p>{{ i.open_time }}</p>
            <p>{{ i.close_time }}</p>
            <p>{{ i.description }}</p>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}